.btn{
    width: 200px;
    height: 50px;
    border: none;
    background-color: olive;
    display: block;
    margin: auto;
    padding: 15px;
}
/* 
.button {
    display: block;
    width: 150px;
    border: 0;
    background-color: #07a787;
    color: white;
    padding: 15px;
    margin: 15px auto;
} */